@media(max-width:670px){
    .btn{
        width:100%;

    }

    .kankyou{
        margin:10px 0;
    }

    .top-wrapper h1{
        font-size:50px;
    }

    .top-wrapper p{
        font-size:15px;
    }

    .header-right{
        display:none;
    }

    .menu-icon{
        display:block;
    }
}
