@media(max-width:670px){
    btn{
        width:100%;

    }

    .kankyou{
        margin:10px 0;
    }

    .top-wrapper p{
        font-size:40px;
    }

    .top-wrapper p{
        font-size:13px;
    }

    .header-right{
        display:none;
    }

    .menu-icon{
        display:block;
    }
}

    .menu-icon{
        display:block;
    }
}
